@import '@splidejs/splide/dist/css/themes/splide-default.min.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.filepond--item {
    width: calc(50% - .5em);
}

@media (min-width: 30em) {
    .filepond--item {
        width: calc(50% - .5em);
    }
}

@media (min-width: 50em) {
    .filepond--item {
        width: calc(33.33% - .5em);
    }
}


input:checked ~ label {
    @apply ring ring-pink-600 text-pink-600;
}

.vs-pagination__button, .vs-pagination__arrow {
    @apply focus:ring-0 focus:outline-none;
}

.toggle__dot {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
    transform: translateX(100%);
    background-color: #48bb78;
}
